

.color-palette {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
    width: 160px;
    height: 160px;
    /* background-color: #c6c6c6; */
    padding: 0.7rem;
    --circle-radius: 30px;
}

.color-palette .circle {
    border-radius: 100%;
    width:var(--circle-radius);
    height:var(--circle-radius);
    margin: 5px;
    outline: 1px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: ease-in-out 100ms;
    
}

.color-palette .circle:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}