.Panel-box {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    color: rgb(183, 109, 13);
    border: 1px solid;
    height: 100vh;
    order: 5;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    
  }

