.textBubble{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0.5rem;
    transition: 200ms;
    width: 300px;
    height: 150px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
}

h3{
    padding: 0rem 1rem 0rem 1rem;
}

p{
    padding: 0rem 1rem 0rem 1rem;
    /* width: 0px; */
}